@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  height: 100vh;
}
  
.div1 {
  grid-column: span 1 / span 1;
  grid-row: span 5 / span 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.logo-titulo{
  color: #fff;
  font-family: "Mochiy Pop One", sans-serif;
}

.div1 .menu-desktop{
  list-style: none;
  display: flex;
  flex-direction: column;
  
  
}

@media screen and (min-width: 822px) {
  .div1{
    border-right: 3px solid #37464f;
  }

  .div1 .menu-desktop{
    width: 100%;
  }

  .menu-desktop li:hover{
    background-color: #1d2e36;
  }
}

.div1 .menu-desktop li{
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8em;
  font-family: "Balsamiq Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
  /* width: 100%; */
}



.div2 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
  grid-column-start: 2;
  border: 2px solid greenyellow;
}

@media screen and (max-width: 821px) {
  
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
  }
      
  .div1 {
      grid-column: span 5 / span 5;
      grid-row: span 1 / span 1;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
  }

  .div1 .menu-desktop{
    flex-direction: row;
  }

  .div2 {
      grid-column: span 5 / span 5;
      grid-row: span 4 / span 4;
  }
  
}

.overlay-menu {
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  
}

.overlay-menu-none{
  display: none;
}

.menu-mobile {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  width: 70vw;
}

.nav-mobile {
  background-color: #131f24;
  height: 100vh;
}

@media screen and (max-width: 585px){
  .div1 .menu-desktop{
    display: none;
  }
}

@media screen and (min-width: 585px) {
  .btn-abrir,
  .menu-mobile,
  .nav-mobile,
  .btn-fechar,
  .overlay-menu {
    display: none;
  }
}

.btn-fechar {
  background-color: #131f24;

}

.menu-mobile .btn-fechar svg{
  margin: 10px;
}

.nav-mobile ul{
  display: flex;
  flex-direction: column;
}

.nav-mobile ul li{
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8em;
  font-family: "Balsamiq Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px; 
}

.nav-mobile ul li:hover{
  background-color: #1d2e36;
}

.container-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  height: 100%;
  border: 2px solid red;
}
  
.child-container1 {
  grid-column: span 2 / span 2;
  border: 2px solid blue;
  padding: 10px;
  min-width: 200px;
}

.child-container1 section{
  background-color: #00cd9c;
  border-radius: 10px;
  min-width: 200px;
  height: 100%;
  width: 100%;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.child-container1 section h2{
  text-transform: uppercase;
  font-size: 1.6em;
  color: #ffffffdc;
}

.child-container1 section p{
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.child-container1 section h2,
.child-container1 section p{
  font-family: "Balsamiq Sans", sans-serif;
}

.child-container2 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  border: 2px solid pink;
  display: flex;
  justify-content: center;
  width: 100%;
}

.child-container2 ul li:first-child{
  color: rgb(255, 62, 62);
  font-size: 1.4em;
  font-weight: 600
}

.child-container2 ul li:nth-child(2){
  color: aqua;
  font-size: 1.4em;
  font-weight: 600;
}

.child-container2 ul{
  /* min-width: 200px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 440px){
  .child-container2 ul{
    flex-direction: column;
  }
}

.child-container2 ul li{
  width: 100px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.child-container2 ul li .moldura{
  height: 40px;
  width: 40px;
}

.child-container2 ul li .moldura img{
  width: 100%;
  height: 100%;
}

.child-container3 {
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  grid-row-start: 2;
  border: 2px solid orangered;
}

.child-container4 {
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 2;
  border: 2px solid cyan;
  /* display: none; */
}
      